ul {
  list-style: none;
}

li.menu__inner {
	transform: translateX(10%);
}

a {
  text-decoration: none;
  color: black;
}

.accordion {
  display: inline-block;
  padding: 20px;
  background: #e4e4e47e;
  border-radius: 50px;
  transition: all 600ms ease-in-out;
  top: 100px;
  position: fixed;
  z-index: 1;
}

.navbar__logo img {
  width: 150px;
}

.navbar__logo2 img {
  width: 100px;
}

.navbar__search {
  text-align: center;
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

input[id*="answer"] {
  display: none;
}

.menu__outer {
  display: inline-block;
  padding: 20px;
  width: 300px;
  /* border: 1px solid #232188; */
  border-bottom: 0;
  color: rgb(0, 0, 0);
  font-weight: 900;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
}

.menu__outer:hover {
  background: #59a6ff7e;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  display: inline-block;
  transition: all 300ms ease-in-out;
  /* background: url("./img/arrow.png") 0 0 no-repeat; */
}

input[id*="answer"] + label + div {
  width: 300px;
  max-height: 0;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  background: #c2c2c200;
  font-size: 11px;
}

li {
  font-size: 20px;
}

/* input[id*="answer"] + label + div p {
  display: inline-block;
} */

/* input[id*="answer"]:hover + label + div {
  max-height: 300px;
} */

input[id*="answer"]:checked + label + div {
  max-height: 300px;
}

input[id*="answer"]:checked + label > .arrow-down {
  transform: rotate(180deg);
}

.navbar__cancelBtn {
  position: absolute;
  top: 32px;
  right: 42px;
  font-size: 30px;
  display: none;
}

.navbar_Btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: -100px;
  width: 100vw;
  height: 100px;
  background: #e4e4e4d2;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

.menu {
  padding: 20px;
}

.navbar__toggleBtn {
  position: fixed;
  top: -100px;
  left: -100px;
  padding: 20px 30px;
  font-size: 30px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.navbar__username {
  position: fixed;
  top: -100px;
  left: -100px;
  transition: all 300ms ease-in-out;
}

.navbar__logo2 {
  position: fixed;
  top: -100px;
  left: -100px;
  transition: all 300ms ease-in-out;
}

.navbar__menu {
  position: fixed;
  top: -100px;
  right: -100px;
  transition: all 300ms ease-in-out;
}


@media screen and (max-width: 1580px) {
  .accordion {
    transform: translateX(-110%);
  }

  .accordion.clicked {
    transform: translateX(0%);
  }

  .navbar__cancelBtn {
    display: block;
  }

  .navbar__cancelBtn.clicked {
    display: none;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__toggleBtn.clicked {
    display: none;
  }
  
  .navbar_Btn {
	top: 0px;
/*     transform: translateY(100%); */
  }
  
  .navbar__toggleBtn {
  top: 10px;
  left: 20px;
}

  .navbar__username {
    top: 30px;
    left: 100px;
  }
  
  .navbar__logo2 {
    position: fixed;
    top: 0px;
    left: auto;
/*     transition: all 300ms ease-in-out; */
  }
  
  .navbar__menu {
    position: fixed;
    top: 40px;
    right: 100px;
    transition: all 300ms ease-in-out;
  }
}
