<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/musunsul29/src/main/resources/css/Mainlayout/Footer.css'>
    <script src='main.js'></script>
</head>
<body>

	<div class="Footer container">
		<div class="footer">
		<div class="footer__left"> 
			<div class="footer__links">
				<div class="description">공지사항</div>
				<div class="description">고객센터</div>

			</div>
			
			<div class="description">
				서울특별시 강남구 강남로 129 일이구빌딩 129-1호 (주) MUSUN
			</div>
			
			<div class="description">
				사업자증록번호 : 129-11-12911
            </div>

		</div> 
		
		<div class="footer__right">
		
			<div class="description">
				고객지원센터 129-129-7777
			</div>
			
			<div class="description">
				운영시간 AM 09시 ~ PM 6시<br>
                점심시간 PM 12시 ~ PM 2시
			</div>
		
			<div class="description">
				DAY OFF(SATURDAY, SUNDAY, HOLIDAY)
			</div>
		</div>
		</div>
		<div class="description__copyright">
			copyright 2021. 2조 All rights reserved.
		</div>
	</div>
</body>
</html>