.Mainlayout {
display : grid;
grid-template-columns:0.5fr 2.5fr 0.5fr;
grid-template-rows: 100px 1fr 200px;
grid-template-areas:
"Header Header Header"
"Section Section Section"
"Footer Footer Footer";
height: 100vh;
grid-gap: 10px;
}


a {
        text-decoration: none;
    }
    
.Mainlayout Header {
    grid-area: Header;

    
}

.Mainlayout Section {
    grid-area: Section;

}

.Mainlayout Footer {
    grid-area: Footer;

}
  .survey {
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }

    .survey_link1 {
        padding: 20px;
        margin: 150px;
        border: 1px;
        border-radius: 30px;
        background: linear-gradient(to bottom, rgb(95, 212, 115), rgb(49, 189, 68));
        cursor: pointer;
        color: white;
        transition: all 0.5s;
    }

    .survey_link1:hover {
        background: linear-gradient(to bottom, rgb(201, 252, 82), rgb(103, 180, 15));
        border: 1px;
        transform: translateY(100px);
    }

    .survey_link2 {
        padding: 20px;
        margin: 150px;
        border: 1px;
        border-radius: 30px;
        background: linear-gradient(to bottom, rgb(67, 70, 104), rgb(29, 29, 136));
        cursor: pointer;
        color: white;
        transition: all 0.5s;
    }

    .survey_link2:hover {
        background: linear-gradient(to bottom, rgb(72, 76, 116), rgb(18, 18, 187));
        border: 1px;
        transform: translateY(100px);
    }