  body {
  background-color: rgba(255, 221, 173, 0.336);
  font-family: "Nanum Barun Gothic", sans-serif;
  font-weight: 400;
  margin: 0 !important;
  color: #333;
}
.contents_wrapper {
  width: 100%;
  padding: 90px 0;
  max-width: 1024px;
  margin: 0 auto;
}
div,
p {
  margin: 0;
  padding: 0;
  color: #333;
  display: block;
  font-size: 20px;
}
.name {
  text-align: center;
}
.brand_name {
  font-weight: bold;
  font-size: 32px;
}
.brand_name_line {
  width: 30px;
  background: #a50000;
  height: 2px;
  margin: 30px auto 70px auto;
}
.wineitem_wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #ededed;
  margin: 0 10px;
}
.leftitem {
  width: calc(50% - 20px);
  margin-right: 20px;
  float: left;
}
.rightitem {
  width: 50%;
  float: left;
}
.wine_name {
  font-size: 24px;
  margin-bottom: 7px;
}
.wineline2 {
  background: #a50000;
  height: 4px;
  width: 100px;
  margin-bottom: 25px;
}
.type .type1 .type2 .type3 {
  margin-bottom: 20px;
}
.description {
  margin-top: 10px;
  height: 100px;
  border-bottom: 1px solid #b4adad;
  overflow: hidden;
  line-height: 1.4;
  padding-bottom: 70px;
  font-size: 20px;
}
.description_line {
  border-bottom: 1px solid #b4adad;
}
.our_review_title {
  margin-top: 20px;
  color: #a50000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.ourreview {
  margin-bottom: 30px;
}
.address {
  width: 1024px;
  border: 1px solid #999;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.address1 {
  margin-top: 15px;
  color: #a50000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 20px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #802121 url("route.png") no-repeat right center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background-color: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
#map {
  width: 1024px;
  height: 300px;
}
.footerWrap {
  width: 100%;
  border-top: 1px solid #999;
  background: #efefef;
  padding: 30px 10px;
  box-sizing: border-box;
}
.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}
.footer {
  margin-top: 160px;
}
.name .wine_img .rightitem #popup {
  opacity: 0;
}
#form-commentInfo{
  margin-top: auto;
  width: 1024px;
  margin: 0 auto;
}

#comment-count{
    margin-bottom: 10px; 
}

#comment-input{
    width: 50%;
    height: 3.3em;
}

#submit{
    background-color: rgb(139, 44, 44);
    width: 5.5em;
    height: 3.3em;;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
}

#voteUp, #voteDown{
    width: 3.5em;
    height: 1.9em;
    background-color: aqua;    
}

#comments{
    margin-top: 10px;
}

.eachComment{   
    width :50%; 
    margin: 10px;  
    padding: 0.5em; 
    border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue{
    font-size: 1.2em;
    font-style: italic;    
}

.eachComment .time{
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

.eachComment .voteDiv{
    display: flex;
    justify-content: flex-end;
}

.eachComment .deleteComment{
    background-color: red;
    color: aliceblue;
}
